In [ ]:
from tkinter import *
import pyodbc 
constr = ('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=xxx;'
                      'Database=tkinter;'
                      'Trusted_Connection=yes;')

#Query
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT * FROM max')
    data = cursor.fetchall()
    print(data[:])
    for row in data:
        print(row.name)
        print(row.age)
#Insert single
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.execute("INSERT INTO max(name,age) VALUES('oleg',5)")
#Insert many
names = [('keke',10),('yy',2)]
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO max(name,age) VALUES(?,?)",names)
        
        
#retrieve columns
columns =[row.column_name for row in cursor.columns(table="max")]
print(columns)
#retrieve table names
tables = [row.table_name for row in cursor.tables()]
print(tables)