<pre>mean(): Compute mean of groups
sum(): Compute sum of group values
size(): Compute group sizes
count(): Compute count of group
std(): Standard deviation of groups
var(): Compute variance of groups
sem(): Standard error of the mean of groups
describe(): Generates descriptive statistics
first(): Compute first of group values
last(): Compute last of group values
nth() : Take nth value, or a subset if n is a list
min(): Compute min of group values
max(): Compute max of group values</pre>

In [8]:
import pandas as pd
data_url = 'http://bit.ly/2cLzoxH'
# read data from url as pandas dataframe
gapminder = pd.read_csv(data_url)
# select two columns
gapminder_pop = gapminder[['continent','pop']]
gapminder_pop.groupby('continent').sum()

                    pop
continent
Africa     6.187586e+09
Americas   7.351438e+09
Asia       3.050733e+10
Europe     6.181115e+09
Oceania    2.129921e+08