In [3]:
import pandas as pd
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [6]:
pd.concat([s1, s2],axis=1,ignore_index=True)

   0  1
0  a  c
1  b  d

In [8]:
pd.concat([s1, s2],axis=1)

   0  1
0  a  c
1  b  d

In [9]:
pd.concat([s1, s2], keys=['s1', 's2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [14]:
df=pd.concat([s1, s2], keys=['s1', 's2'],names=['Series name', 'Row ID'])
df

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object