In [1]:
import seaborn as sns

In [2]:
tips=sns.load_dataset('tips')

In [4]:
tips['total_bill'] = tips['total_bill'].map(lambda x: x*2)

In [5]:
tips

     total_bill   tip     sex smoker   day    time  size
0         33.98  1.01  Female     No   Sun  Dinner     2
1         20.68  1.66    Male     No   Sun  Dinner     3
2         42.02  3.50    Male     No   Sun  Dinner     3
3         47.36  3.31    Male     No   Sun  Dinner     2
4         49.18  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       58.06  5.92    Male     No   Sat  Dinner     3
240       54.36  2.00  Female    Yes   Sat  Dinner     2
241       45.34  2.00    Male    Yes   Sat  Dinner     2
242       35.64  1.75    Male     No   Sat  Dinner     2
243       37.56  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]