**W3SCHOOL**

In [1]:
#1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [7]:
#2.Write a Pandas program to convert a Panda module Series to Python list and it's type.

ds = pd.Series([2, 4, 6, 8, 10])
x=ds.tolist()
print(x)
print(type(x))

[2, 4, 6, 8, 10]
<class 'list'>

In [9]:
#3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 11])
ds1+ds2

0     3
1     7
2    11
3    15
4    21
dtype: int64

In [11]:
#4.Write a Pandas program to compare the elements of the two Pandas Series.
ds1>ds2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [21]:
#5.Write a Pandas program to convert a dictionary to a Pandas series.
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
new_series = pd.Series(d1)
new_series.loc["c"]
new_series.iloc[1]

200

In [26]:
#6.Write a Pandas program to convert a NumPy array to a Pandas series.
import numpy as np
array = np.arange(10,50,5)
s = pd.Series(array)
s

0    10
1    15
2    20
3    25
4    30
5    35
6    40
7    45
dtype: int32

In [28]:
#7. Write a Pandas program to change the data type of given a column or a Series.
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s1)
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [37]:
#8.Write a Pandas program to convert the first column of a DataFrame as a Series.
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(d)
print(df)
s1 = df['col1']
s2 = df.iloc[:,0]
print(s1,s2)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64 0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [39]:
#9.Write a Pandas program to sort a given Series. 
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [51]:
#10.Write a Pandas program to add some data to an existing Series.
s1 = pd.Series(['1','2'])
s2 = pd.Series(['3','0'])
l=s1.append(s2).sort_values()
l.iloc[0]

'0'

In [52]:
#11.Write a Pandas program to create a subset of a given series based on value and condition.
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
n = 6
new_s = s[s < n]
print(new_s)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [60]:
#12.Write a Pandas program to change the order of index of a given series.
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [69]:
#13.Write a Pandas program to create the mean and standard deviation of the data of a given Series. 
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
s.mean()
s.std()
s.median()
s.max()
s.min()
s.count()
s.sum()
s.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [71]:
#14.Write a Pandas program to get the items of a given series not present in another given series.
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
result = sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

In [75]:
#15.Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print(result)

[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [78]:
#16.Write a Pandas program to calculate the frequency counts of each unique value of a given series.
s = pd.Series([1,2,3,4,2])
s.value_counts()

2    2
4    1
3    1
1    1
dtype: int64

In [6]:
#17.Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(10, 15, [7]))
print(num_series.value_counts())
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

11    3
13    2
14    1
10    1
dtype: int64
Top 2 Freq: 11    3
13    2
14    1
10    1
dtype: int64
0       11
1       11
2    Other
3    Other
4    Other
5       11
6    Other
dtype: object

In [16]:
#18.Write a Pandas program to extract items at given positions of a given series.

import pandas as pd
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

In [25]:
#19.Write a Pandas program to extract items at given positions of a given series.

series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 11])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(11)]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    11
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[9]

In [26]:
#20.Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [27]:
#21.Write a Pandas program to calculate the number of characters in each word in a given series.
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

In [28]:
#22.Write a Pandas program to convert a series of date strings to a timeseries.

date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [32]:
#23.Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")

date_series = date_series.map(lambda x: parse(x))
print(date_series)
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.isocalendar().week.tolist())

Original Series:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]

In [33]:
#24.Write a Pandas program to convert year-month string to dates adding a specified day of the month.

import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(date_series)
print("\nNew dates:")
result = date_series.map(lambda d: parse('11 ' + d))
print(result)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [35]:
#25.Write a Pandas program to filter words from a given series that contain atleast two vowels.
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [40]:
#26. Write a Pandas program to stack two given series vertically and horizontally.
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))

df = pd.concat([series1, series2], axis=1)

print(df)

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [42]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4