In [1]:
import pyodbc 
constr = ('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DESKTOP-O2FNSGM;'
                      'Database=tkinter;'
                      'Trusted_Connection=yes;')

#Query
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT * FROM max')
    data = cursor.fetchall()
    print(data[:])
    for row in data:
        print(row.name)
        print(row.age)
#Insert single
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.execute("INSERT INTO max(name,age) VALUES('oleg',5)")
#Insert many
names = [('keke',10),('yy',2)]
with pyodbc.connect(constr) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO max(name,age) VALUES(?,?)",names)
        
        
#retrieve columns
columns =[row.column_name for row in cursor.columns(table="max")]
print(columns)
#retrieve table names
tables = [row.table_name for row in cursor.tables()]
print(tables)

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Поставщик именованных каналов: Не удалось открыть соединение с SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Время ожидания входа в систему истекло. (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]При установлении соединения с сервером SQL Server произошла ошибка, связанная с сетью или с определенным экземпляром. Сервер не найден или недоступен. Убедитесь, что имя экземпляра указано правильно и на сервере SQL Server разрешены удаленные соединения. Дополнительные сведения см. в электронной документации по SQL Server. (53)')