In [1]:
from sqlalchemy import create_engine
SERVER = 'DESKTOP-O2FNSGM'
DATABASE = '70_461'
DRIVER = 'ODBC Driver 17 for SQL Server'
DATABASE_CONNECTION = f'mssql://{SERVER}/{DATABASE}?driver={DRIVER}'
engine = create_engine(DATABASE_CONNECTION)
%reload_ext sql
%sql mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server

'Connected: @max'

In [9]:
%sql select power(2,5)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(32,)]

In [11]:
%sql select square(5)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(25.0,)]

In [13]:
%sql select sqrt(25)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(5.0,)]

In [15]:
%sql select floor(3.6)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(Decimal('3'),)]

In [16]:
%sql select ceiling(3.6)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(Decimal('4'),)]

In [20]:
%sql select round(3.6,0)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(Decimal('4.0'),)]

In [21]:
%sql select Pi()

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(3.141592653589793,)]

In [22]:
%sql select exp(1)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(2.718281828459045,)]

In [23]:
%sql select abs(-5)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(5,)]

In [24]:
%sql select rand(5)

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(0.7136665250979564,)]

https://docs.microsoft.com/de-de/sql/t-sql/functions/mathematical-functions-transact-sql?view=sql-server-ver15m

In [25]:
%sql select 3/2

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(1,)]

In [26]:
%sql select 3.0/2

 * mssql://DESKTOP-O2FNSGM/max?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(Decimal('1.500000'),)]