In [1]:
from sqlalchemy import create_engine
SERVER = 'DESKTOP-O2FNSGM'
DATABASE = '70_461'
DRIVER = 'ODBC Driver 17 for SQL Server'
DATABASE_CONNECTION = f'mssql://{SERVER}/{DATABASE}?driver={DRIVER}'
engine = create_engine(DATABASE_CONNECTION)
%load_ext sql
%sql mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server

'Connected: @70_461'

In [6]:
%%sql create table table1
(mynumber int)

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
Done.

[]

In [10]:
%sql drop table max

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
(pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot drop the table 'max', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")
[SQL: drop table max]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [12]:
%sql DELETE FROM table1;

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
10 rows affected.

[]

In [18]:
%%sql insert into table1
VALUES
(12),
(1),
(5)

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
3 rows affected.

[]

In [21]:
%sql select * from table1

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(12,), (12,), (1,), (5,)]

In [23]:
%sql truncate table table1

 * mssql://DESKTOP-O2FNSGM/70_461?driver=ODBC+Driver+17+for+SQL+Server
Done.

[]

In [ ]:
%sql drop table ta