https://www.datacamp.com/community/tutorials/pandas-apply

In [6]:
data = {"numbers":[1,2,3,4,5],"strings":['my',"new","car","is","awseome"]}

In [7]:
import pandas as pd
df = pd.DataFrame(data)

In [9]:
df["numbers**2"] = df['numbers']**2

In [19]:
import numpy as np
df["new_column"] = df["numbers**2"].apply(func=(lambda x:5*np.sqrt(x)))
df

   numbers  strings  numbers**2  new_column
0        1       my           1         5.0
1        2      new           4        10.0
2        3      car           9        15.0
3        4       is          16        20.0
4        5  awseome          25        25.0

In [17]:
 df.apply(np.sum, axis=0)

numbers                      15
strings       mynewcarisawseome
numbers**2                   55
dtype: object